:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
  --bg-gradient:radial-gradient(circle at 26.3232421875% 16.227213541666664%, #270E02 0%, 17.5%, rgba(39,14,2,0) 35%), radial-gradient(circle at 37.932942708333336% 33.51236979166667%, #270E02 0%, 17.5%, rgba(39,14,2,0) 35%), radial-gradient(circle at 18.1689453125% 32.68229166666667%, #270E02 0%, 17.5%, rgba(39,14,2,0) 35%), radial-gradient(circle at 7.890625% 16.217447916666668%, #270E02 0%, 17.5%, rgba(39,14,2,0) 35%), radial-gradient(circle at 79.59798177083334% 31.689453125%, #270E02 0%, 20.5%, rgba(39,14,2,0) 41%), radial-gradient(circle at 48.1396484375% 16.940104166666668%, #270E02 0%, 17.5%, rgba(39,14,2,0) 35%), radial-gradient(circle at 67.8369140625% 17.268880208333336%, #270E02 0%, 17.5%, rgba(39,14,2,0) 35%), radial-gradient(circle at 56.43880208333333% 33.91927083333333%, #270E02 0%, 17.5%, rgba(39,14,2,0) 35%), radial-gradient(circle at 48.7548828125% 100%, #004A42 0%, 100%, rgba(0,74,66,0) 100%), radial-gradient(circle at 89.228515625% 13.857421875%, #270E02 0%, 88.8%, rgba(39,14,2,0) 100%), radial-gradient(circle at 48.9013671875% 49.521484375%, rgba(39,14,2,0) 0%, 100%, rgba(39,14,2,0) 100%);
  --bg-overlay-color:rgb(239, 219, 196);
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}
/*
body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */


body{
  background-color: #594133;
}
